{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block navAdmin %}
<div class="">
<a class="nav-link text-light btn btn-dark link-unstyled" href="{{path ('app_back_movie_index') }}" >Movie</a>
<a class="nav-link text-light btn btn-secondary link-unstyled" href="{{path ('app_back_casting_index') }}" >Casting</a>
<a class="nav-link text-light btn btn-info link-unstyled" href="{{path ('app_back_actor_index') }}">Actor</a>
</div>

{% endblock %}

{% block body %}
    <h1>Genre List</h1>



    <table class="table text-xl font-weight-bold bg-secondary bg-gradient">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.name }}</td>
                <td>
                    <a href="{{ path('app_back_genre_show', {'id': genre.id}) }}" class="text-light bg-dark">show</a>
                    <a href="{{ path('app_back_genre_edit', {'id': genre.id}) }}" class="text-light bg-dark" >edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_genre_new') }}"  class="text-info bg-dark">Create new</a>
{% endblock %}
