{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}



{% block body %}



<div class="my-5 py-5 text-center">
    <img src="assets/favicon.png" height="100" alt="logo" class="logo">
    <h1 class="display-6 fw-bold">films, série tv, chips</h1>
    <div class="col-lg-6 mx-auto">
         <p class="lead mb-4 text-muted">gratis</p>
    </div>
</div>

<div class="container-xl bg-light p-5 border-top">

    <div class="row mb-2">
        <div class="col-12 col-lg-3">
            <h2 class="text-center text-muted fw-bold mb-4">Les genres</h2>
            <ul class="d-flex flex-column flex-wrap list-unstyled">
                <li class="btn btn-sm btn-outline-danger mx-1 mb-1">Comédie</li>
                <li class="btn btn-sm btn-outline-danger mx-1 mb-1">Dessin animé</li>
                <li class="btn btn-sm btn-outline-danger mx-1 mb-1">Documentaire</li>
                <li class="btn btn-sm btn-outline-danger mx-1 mb-1">Drame</li>
                <li class="btn btn-sm btn-outline-danger mx-1 mb-1">Espionnage</lgei>
                <li class="btn btn-sm btn-outline-danger mx-1 mb-1">Famille</li>
                <li class="btn btn-sm btn-outline-danger mx-1 mb-1">Fantatsique</li>
                <li class="btn btn-sm btn-outline-danger mx-1 mb-1">Historique</li>
                <li class="btn btn-sm btn-outline-danger mx-1 mb-1">Policier</li>
                <li class="btn btn-sm btn-outline-danger mx-1 mb-1">Science-fiction</li>
                <li class="btn btn-sm btn-outline-danger mx-1 mb-1">Thriller</li>
                <li class="btn btn-sm btn-outline-danger mx-1 mb-1">Western</li>
             
            </ul>
        </div>

    <div class="col-12 col-lg-9">

         <h2 class="text-muted fw-bold mb-4">nouveautés</h2>
{% for key, movie in movies %}
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white">
        <div class="col-4 movie__poster" style="background-image: url({{ movie.poster }});">
            <img src="{{ asset('assets/images/poster-placeholder.png') }}">
        </div>
        <div class="col-8 p-4 d-flex flex-column position-static">
            <a href="" class="movie__favorite fs-1 my-2 m-"></a>
            <strong class="d-inline-block mb-2 text-success">{{ movie.type }}</strong>
            <h3 class="mb-1">{{ movie.title }}</h3>
            <div class="m-b 1 texte-muted">{{ movie.duration }} min</div>
            <p><small>{{ movie.summary }}</small></p>


            <div class="d-flex" style="color: orange;">
                <i class="bi bi-star-fill"></li>
                <i class="bi bi-star-fill"></li>
                <i class="bi bi-star-fill"></li>
                <i class="bi bi-star-fill"></li>
                <i class="bi bi-star-half"></li>
               
            <span class="ps-1">{{ movie.rating }}</span>

             </div>
            <a href="{{ path('main_show', {'id' : key}) }}" class="fs-1 mt-3 text-danger align-center">
                <i class="bi bi-arrow-right-square"></li>
            </a>

        </div>
    </div>

{% endfor %}
    

    <nav class="col-lg-9 offset-lg-3">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link">&laquo;</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        </ul>
    </nav>

    </div>
    </div>           
    </html>
{% endblock %}