{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block navAdmin %}
<div class="">
<a class="nav-link text-light btn btn-dark link-unstyled" href="{{path ('app_back_movie_index') }}" >Movie</a>
<a class="nav-link text-light btn btn-secondary link-unstyled" href="{{path ('app_back_casting_index') }}" >Casting</a>
<a class="nav-link text-light btn btn-info link-unstyled" href="{{path ('app_back_actor_index') }}">Actor</a>
</div>

{% endblock %}



{% block body %}
    <h1>Casting List</h1>

    <table class="table text-xl font-weight-bold bg-secondary bg-gradient">
        <thead>
            <tr>
                <th>Id</th>
                <th>Role</th>
                <th>CreditOrder</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for casting in castings %}
            <tr>
                <td>{{ casting.id }}</td>
                <td>{{ casting.role }}</td>
                <td>{{ casting.creditOrder }}</td>
                <td>
                    <a href="{{ path('app_back_casting_show', {'id': casting.id}) }}" class="text-light bg-dark" >show</a>
                    <a href="{{ path('app_back_casting_edit', {'id': casting.id}) }}"  class="text-light bg-dark">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_casting_new') }}" class="text-info bg-dark">Create new</a>
{% endblock %}
