{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block navAdmin %}
<div class="">
<a class="nav-link text-light btn btn-dark link-unstyled" href="{{path ('app_back_movie_index') }}" >Movie</a>
<a class="nav-link text-light btn btn-danger link-unstyled" href="{{path ('app_back_casting_index') }}" >Casting</a>
<a class="nav-link text-light btn btn-dark link-unstyled" href="{{path ('app_back_genre_index') }}">Genre</a>
</div>

{% endblock %}


{% block body %}
    <h1>Actor list</h1>

    <table class="table text-xl text-light font-weight-bold bg-dark bg-gradient">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td>{{ actor.id }}</td>
                <td>{{ actor.firstname }}</td>
                <td>{{ actor.lastname }}</td>
                <td>
                    <a href="{{ path('app_back_actor_show', {'id': actor.id}) }}" class="text-light bg-dark">show</a>
                    <a href="{{ path('app_back_actor_edit', {'id': actor.id}) }}" class="text-light bg-dark">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_actor_new') }}" class="text-danger bg-dark" >Create new</a>
{% endblock %}
